<p>
  <b>Commenter: </b>
  <%= comment.commenter %>
</p>
<p>
  <b>Comment: </b>
  <%= comment.body.html_safe %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.post, comment], 
		:method => :delete,
		:confirm => '¿Esta seguro?' %>
</p>
